
h1 {
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    margin: 40px;
    margin-left: 0px;
}

.section h1 {
padding-top: 56px;
margin-top: -30px !important;
color: #49c5b6;
}

h2 {
  font-family: 'Archivo';
  font-size: 20px;
}

h3 {
  font-family: 'Archivo';
  font-size: 18px;
}
  


h4 {
  font-family: 'Archivo';
  font-weight: 400;
  font-size: 20px;
}

.section h4 {
  padding-top: 0px !important;
  margin-top:  0px !important;
}

p {
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 15px;
  /*text-indent: 20px; */
  line-height: 1.6;
}

p2 {
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 15px;
  /*text-indent: 20px; */
  line-height: 1.6;
}

p3 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  /*text-indent: 20px; */
  line-height: 1.6;
}



#logo {
  margin-top: -50px !important;
}



/*----------------NAVBAR ---------------*/
.navbar-default {
    background-color: "#141c25f2";
    font-weight: 400;
    font-family: 'Archivo';
}

